# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints


# Data and models (mount them instead)
data/
model/
hf-cache/

# Git
.git
.gitignore

# OS / editor
.DS_Store
.vscode/
